{% extends "player/layout.html" %}
{% block content %}
<h1>Music</h1>
<!-- {{data}} -->
{{tags.id}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Artist</th>
      <th scope="col">Album</th>
      <th scope="col">Duration</th>
      <th scope="col">Preview</th>
    </tr>
  </thead>
  <tbody>
  {% if dirs %}
  {% for dir in dirs.values %}
    <tr>
        <td>{{ dir.metadata.track }}</td>
        <td>{{ dir.metadata.title }}</td>
        <td>{{ dir.metadata.artist }}</td>
        <td>{{ dir.metadata.album }}</td>
        <td>{{ dir.metadata.duration }}</td>
        <td>
          <audio controls>
            <source src="{{dir.url}}" type="audio/mpeg">
          </audio>
        </td>
    </tr>
  {%endfor%}
{% endif %}
    {% if tags %}
      {% for tag in tags %}
        <tr>
            <td><a href="{{ tag.microsoftgraphdownloadUrl }}">{{ tag.audio.title }}</a></td>
            <td><audio controls>
              <source src="{{ tag.microsoftgraphdownloadUrl }}" type="audio/mpeg">
            </audio>
            </td>
            <td>{{ file.id }}</td>
            <!-- <td>
              <audio controls>
                <source src="{{file.microsoft.graph.downloadUrl}}" type="audio/mpeg">
              </audio>
            </td>
        </tr>
      {%endfor%}
    {% endif %}
  </tbody>
</table>
{% endblock %}