body {
    padding-top: 4.5rem;
  }
  
  .alert-pre {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
  }

  .clickable{
    cursor: pointer;
    display:block;
  }

.row:hover {
  background-color: #cccccc;
}

.cell:hover {
  background-color: #e5e5e5;
}